body {
    background-color: gainsboro;
    margin: 5%;
    
}

h1 {
    text-align: center;
}

#contents {
    border: 2px gray solid;
   margin-left: 41%;
    height: 350px;
    width: 300px;
    background-color: gainsboro;
    
   
   

}

#ptag {
    text-align: center;
}

#btn {
    margin-left: 47%;
    margin-top: 2%;
    background-color: blanchedalmond;
    height: 40px;
    border-radius: 5px;
}

img {
    align-content: center;
    height: 200px;
    width: 200px;
    margin-left: 16%;
    
}

#postdiv {
    align-content: center;
    margin: 30%;
    margin-top: 10%;
    margin-left: 42%;
}

#divonbody{
    background-image: url("../APIimg/kitty paws-1009961028-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
    border-radius: 6px;
} 